header {
 background-image: url('../images/me.jpg');
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
 height: 500px; 
}
.nav-link {
  display: block;
  padding: 0.7rem 4rem;
  color: white;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.header-text{
  background-color: rgb(255, 255, 255, 0.2);
  width: 40%;
  color: rgb(255, 254, 254);
  padding: 20px;
  border-radius: 50px;
  margin-left: 70px;
  margin-top: 50px;
}
.text{
  margin-left: 30px;
}
 h2 img {
  width: 15%;
  margin-right: -30px;
}
hr {
  width: 8%;
  padding: 2px;
  margin-left: 185px;
  margin-top: -50px;
  background-color: black;
  color: black;
}
.row {
  margin: 70px 20px 20px 200px;
}
.m-drive, .sofa{
  width: 30%;
  margin-right: 90px;
  border-radius: 20px;
}
.street-food, .photo-moto{
  width: 30%;
  margin-left: 90px;
  border-radius: 20px;
}
.education, .why-section, .interests{
  margin-left: 200px;
  margin-top: 50px;
}
#about h3{
  margin-bottom: 30px;
  margin-left: 70px;
}
.why-section p{
  width: 80%;
}
.interests ul {
  line-height: 50px;
}
footer {
  /* Background image path should be relative to the current file, hence (..) */
  background-image: url('../images/footer.png');
  height: fit-content;
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding: 30px;
}
footer a {
  color: white;
}